:root {
  --base-blue: #5998f9;
  --dark-blue: #29589d;
  --base-gray: #8697a7;
  --dark-gray: #5e7887;
  --light-gray: #c7d0d9;
  --sky-gray: #c8d1da;
  --night-gray: #788798;
  --background: #dfe8e7;
  --light-text: #edf7fe;
  --dark-text: #505253;

  --normal-type: #a8a878;
  --fire-type: #f08030;
  --water-type: #6890f0;
  --grass-type: #78c850;
  --electric-type: #f8d030;
  --ice-type: #98d8d8;
  --fighting-type: #c03028;
  --poison-type: #a040a0;
  --ground-type: #e0c068;
  --flying-type: #a890f0;
  --psychic-type: #f85888;
  --bug-type: #a8b820;
  --rock-type: #b8a038;
  --ghost-type: #705898;
  --dark-type: #705848;
  --dragon-type: #7038f8;
  --steel-type: #b8b8d0;
  --fairy-type: #f0b6bc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16px;
}

body {
  color: var(--dark-text);
  background: var(--background);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
