.header {
  text-transform: capitalize;
  text-align: center;
  text-shadow: -1px 0 var(--light-gray), 0 1px var(--light-gray),
    1px 0 var(--light-gray), 0 -1px var(--light-gray);
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.image {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 4px var(--night-gray);
  border-radius: 0.5rem;
}
